<!DOCTYPE html>
<html>
  <head>
    <title>ApiDemoRuby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- This refers to app/javascript/stylesheets/application.scss-->
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
      body {
        margin: 20px;
      }
      a {
        color: blue;
      }
      a:visited {
        color: blue;
      }
      a:hover {
        color: white;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
